<article>
	<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
	<time datetime="{{ .Date | time.Format ":date_medium" }}">{{ .Date | time.Format ":date_medium" }}</time>
	{{ with .Params.tags }}
	[{{ range $index, $tag := . }}{{ if $index }}, {{ end }}<a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}">{{ $tag }}</a>{{ end }}]
	{{ end }}
	<section>
		{{ .Summary }}
		{{ if .Truncated }}
			<a href="{{ .Permalink }}" aria-label="Read more about {{ .Title }}">Read more...</a>
		{{ end }}
	</section>
</article>
